 
<!--Footer Top section end-->
<!--Footer Bottom section start-->
<div class="ed_footer_bottom">
    <div class="container">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="ed_copy_right">
                        <p>&copy; Copyright 2024, All Rights Reserved, <a href="javascript:void(0);">EDUCO</a></p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="ed_footer_menu">
                        <ul>
                            <li><a href="">Accueil</a></li>
                            <li><a href="about">À propos de nous</a></li>
                            <li><a href="contact">contact </a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Footer Bottom section end-->
