 <!--Header start-->
 <header id="ed_header_wrapper">
    <div class="ed_header_top">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <p>Bienvenue à notre nouvelle session de formation</p>
                    <div class="ed_info_wrapper">
                        <a  href="select" id="login_button">Connexion</a>
                        
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    <div class="ed_header_bottom">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-2 col-lg-3 col-md-3 col-sm-12 col-12">
                    <img _ngcontent-upa-c1="" src="/assets/logo1.png" alt="logo" style="margin-bottom: -1px;margin-top: -5px;">
                </div>
                <div class="col-xl-8 col-lg-2 col-md-1 col-sm-12 col-12">
                    <div class="main-menu-container">
                        <div class="main-menu">
                            <ul>
                                <li class="has-sub-menu">
                                    <a href="">Accueil</a>
                                    
                                </li>
                                <li><a href="about">À propos de nous</a></li>
                               

                                
                                <li class="has-sub-menu">
                                    <a href="javascript:void(0);">cours / Tuteurs</a>
                                    <ul class="sub-menu">
                                        <li><a href="cours">Tous les cours</a></li>
                                        <li><a href="listTuteur">Tous les tuteurs</a></li>
                                       
                                    </ul>
                                </li>
                                
                                <li *ngIf="token"><a href="contact">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="d-flex align-items-center justify-content-end"> 
                        <!-- Avatar -->
                        
                      </div>
                      
                  </div>
                  
                  
                  
                  
                  
                
                
                
            </div>
        </div>
    </div>
</header>
<!--header end -->

